node_modules
dist
target
bin
obj
.git
.mvn
*.jar
*.exe
*.dll
*.pdb
*.swp
*.log
.env
.idea
.vscode
.vs
UserManagment/UserManagment.API/bin
UserManagment/UserManagment.API/obj
UserManagment/UserManagment.Infrastructure/bin
UserManagment/UserManagment.Infrastructure/obj
UserManagment/UserManagment.Gateway/bin
UserManagment/UserManagment.Gateway/obj
UserManagment/UserManagment.Application/bin
UserManagment/UserManagment.Application/obj
UserManagment/UserManagment.Domain/bin
UserManagment/UserManagment.Domain/obj
