APP_SECURITY_SUPER_ADMIN_EMAIL=haroonurrasheed1212@gmail.com
APP_SECURITY_SUPER_ADMIN_PASSWORD=admin
APP_OTP_EXPIRY_MINUTES=10
JWT_ACCESS_EXPIRATION_MS=259200000
JWT_REFRESH_EXPIRATION_MS=259200000
APP_SECURITY_PASSWORD_RESET_TOKEN_MS=259200000
APP_OTP_CODE_LENGTH=6
APP_OTP_SEND_EMAIL=true
APP_MAIL_FROM=noreply.mentorhub@gmail.com
SPRING_MAIL_HOST=smtp.gmail.com
SPRING_MAIL_PORT=587
SPRING_MAIL_USERNAME=noreply.mentorhub@gmail.com
SPRING_MAIL_PASSWORD=your-noreply-app-password
SPRING_MAIL_PROPERTIES_MAIL_SMTP_AUTH=true
SPRING_MAIL_PROPERTIES_MAIL_SMTP_STARTTLS_ENABLE=true
SPRING_MAIL_PROPERTIES_MAIL_SMTP_CONNECTIONTIMEOUT=5000
SPRING_MAIL_PROPERTIES_MAIL_SMTP_TIMEOUT=5000
SPRING_MAIL_PROPERTIES_MAIL_SMTP_WRITETIMEOUT=5000
